body{
    height: 100vh;
    background-image: linear-gradient(rgb(188, 200, 242), rgb(238, 126, 217));
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 855px;
    border: 2px solid black;
    height: 60vh;
    padding: 33px;
    margin: auto;
    margin-bottom: 23px;
    overflow-y: auto;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

.message{
    background-color: rgb(180, 171, 171);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#messageInp{
    width: 83%;
    height: 28px;
    border-radius: 6px;
    border: 2px solid black;
    
    
}

.btn{
    width: 7.80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    cursor: pointer;
    margin: 0 0.5px;
    font-weight: bold;
}

